header
{   
    margin-left: 50%;
   font-style: normal;
    font-weight: bolder;
    font-size: xx-large; 
    
}
body
{

    margin-right: 40px;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: x-large;
    color: seashell;
    background-image: url(montana.jpg);
    background-repeat: no-repeat;

}

#regreso{
    background-color: paleturquoise;  
    padding: 12px;
    margin-top: 10px;
    width: 10%;
    font-size: 15px;     
    cursor: pointer;
    border-radius: 20px;
    border: solid;
}
#regreso:hover{
    cursor:-moz-grab;
    background-color: rgb(122, 209, 235);
}

